#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #B6D094;
}
header {
    background-color: #E26D5A;
}
nav a:hover {
    background-color: #D4AC0D;
}