@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Playpen+Sans');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    justify-self: center;
    color: #795C32;
    text-decoration: none;
    padding: 35px;
}
header {
    background-color: #ffe6aa;
    font-family: "IM Fell French Canon SC";
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #A42212;
    color: white;
}
.home-title {
    color: #795C32;
    font-family: "IM Fell French Canon SC";
    font-size: 2em;
    margin-top: 100px;
    margin-bottom: -25px;
    text-align: center;
}
#home {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#home-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
}
#home-msg h1, #home-msg h4 {
    text-align: center;
}
h4 {
    text-align: center;
    font-family: Playpen Sans, Kalam, Caveat;
    color: #ff9797;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: Playpen Sans, Kalam, Caveat;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    color: #96c93b;
}
ul {
    list-style-type: none;
    text-align: left;
    color: #ff9797;
}
li {
    margin: 15px 0;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.recipe-img {
    border: 10px solid #A42212;
    margin-top: 150px;
    max-width: 100%;
    height: auto;
}
.Recipe_1 {
    grid-column: 2/4;
    grid-row: 2/3;
}
.Recipe_2 {
    grid-column: 5/7;
    grid-row: 2/3;
}
.Recipe_3 {
    grid-column: 2/4;
    grid-row: 3/4;
}
.Recipe_4 {
    grid-column: 5/7;
    grid-row: 3/4;
}
.Recipe_5 {
    grid-column: 2/4;
    grid-row: 4/5;
}
.Recipe_6 {
    grid-column: 5/7;
    grid-row: 4/5;
}
.Recipe_7 {
    grid-column: 2/4;
    grid-row: 5/6;
}
.Recipe_8 {
    grid-column: 5/7;
    grid-row: 5/6;
}
.Recipe_9 {
    grid-column: 2/4;
    grid-row: 6/7;
}
.Recipe_10 {
    grid-column: 5/7;
    grid-row: 6/7;
}
footer {
    background-color: #ffe6aa;
    color: white;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:#795C32;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    color:#795C32;
}
footer p a:hover {
    background-color:#A42212;
    color: white;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    height: 80px;
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
@media screen and (max-width: 900px) {
    #home, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #home {
        margin-top: 0;
    }
    #home-msg {
        margin-top: 0;
    }
    #home-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #96c93b;
    }
    .Recipe_1, .Recipe_2, .Recipe_3, .Recipe_4 { 
        margin: 50px auto;
        width: 60%;
    }
    footer {
        margin-top: 25px;
    }
}